@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*=======Main theme colors=======*/
    --first-color: #000000;
    --second-color: #9CD0EA;
    --third-color: #00abe4;
    --fourth-color:#5E5E5E;   
   
    

    /*=======Hover colors=======*/
    --hover-color: #9CD0EA;

    /*=======Background colors=======*/
    --body-bg-color: #fefefe;
    --card-bg-color: #fff;
    --modal-bg-color: #fff;
    --bg-transparent-color: rgba(0, 0, 0, 0.1);
    --bg-transparent-color-01: rgba(0, 0, 0, 0.1);
    --bg-transparent-color-02: rgba(106, 89, 209, 0.1);
    --liner-color: #d7d7d7;

    /*=======Color Filter=======*/
    --color-filter: invert(1);

    /*=======Box shadow=======*/
    --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

    /*=======Font size=======*/
    --small-font-size: 14px;
    --normal-font-size: 16px;

}

.swiper {
    width: 600px;
    height: 300px;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    min-height: 100vh;
    scroll-behavior: smooth;
    font-size: 16px;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--first-color);
    background: var(--body-bg-color);
    overflow-x: hidden;
}

/* ----------- header ------------ */

